body {
  margin: 0;
  font-family: 'Montaga', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 main{ scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow: hidden;
}
/* First Page */
/*#homepage-nav{
  position: absolute;
  width: 100%;
  height: 204.95px;
  left: 0px;
  top: 0px;
  
  background: #E7E7E7;
}
*/


/*The 3 landing page views*/


#about-us-view{
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  
}


/*Home Page*/
#home-page-heading{
  height: 15vh;
  width: 100vw;
  background: url('./assets/HomePage/heading.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
#home-page-center{
  height: 85vh;
  width: 100%;
  /*background: red;*/
}

#home-page-center-info{
width: 100%;
height: 70vh;
/*background: green;*/
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.available-houses{
  height:5em;
  width: 20em;
  cursor: pointer;
  background: #B87333;
  margin-left: 2.5em;
  margin-bottom: 1em;
  margin-top: 4em;
  border-radius:2em ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.available-houses:hover{
  transform: scale(1.2);
}

#home-page-bottom-cursor{
  height: 30vh;
  width: 100%;
  /*background: green;*/
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#cursor{
  margin-top :2em;
  height: 7em;
  width: 7em;
  background: url('./assets/HomePage/cursor.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

}

#cursor:hover{
  transform: scale(1.2);
}


/*View Houses Page*/

#view-houses-page{
  height: 100vh;
  width: 100vw;
}

#view-houses-top-cursor{
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#view-houses-top-cursor:hover{
  transform: scale(1.2);
}


#view-houses-center{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#view-houses-center-info{
  height: 90vh;
  width: 47%;
  margin-left:3% ;
  /*background: red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#view-houses-bottom-cursor{
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#view-houses-bottom-cursor:hover{
  transform: scale(1.2);
}


#view-houses-center-photo{
  height: 90vh;
  width: 50vw;
  /*background: green;*/
  display: flex;
align-items: center;
justify-content: center;

}

/*About us Page*/

#about-us-center{
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;

}

#about-us-top-cursor-box{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-us-top-cursor-box:hover{
transform: scale(1.2);}

#about-us-top-cursor{
  height: 4.1em;
  width: 4em;
  background:url('./assets/ViewHouses/topCursor.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

#about-us-info-box{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  justify-content: flex-end;
}

